[2020-07-14 22:00] KameDomotics opened #1 "Detected I/O inside the event loop"
Hi, I had installed Climate_Ip from your forked repo, but I have the same issue: when I give a command, this error appears in the log "Detected I/O inside the event loop"

[2020-10-01 07:02] thadius83 opened #4 "Obtain Token"
Wondering if you had any luck with getting the token guide?

I've got a MIM-H03 wifi unit, runs on port 8888, however none of the scripts out there seem to work for obtaining the token, I get nothing back.

Able to connect it to the SmartThings App etc, but I'm after local control.

[2020-10-03 15:02] atxbyea commented on #4
I'll try to make a guide when I get some free time, I did it almost two years ago, so need to look into it @thadius83

[2020-10-03 15:06] atxbyea commented on #1
I'll have a look at it when I have time, no issues for me here atleast, works fine, but I know this is a known issue with a lot of custom components @KameDomotics

[2020-10-04 07:37] Jens-Wymeersch opened #5 "Performance - it brings down HA"
Dear,

After testing Sebu's custom component and seeing HA performance issues. I was looking at the MQTT built from Sasha (https://github.com/gsasha/hvac_ip_mqtt_bridge) but there were bugs in the code.
Today I looked at your fork but still it seems not to be scalable enough for 6 A/Cs and more. Some of my components just don't work anymore. Also if I look my HDD moves to 90% utilisation. Anything

[2020-10-05 09:47] atxbyea commented on #5
@Jens-Wymeersch
[Errno 111] Connection refused implies that whatever you are trying to reach isn't willing to talk to you.
Are you sure you are connecting to a supported device \ the correct IP ?

HDD utilization at 90% sounds very strange, what is your storage device ? On what platform ?

[2020-10-05 09:48] elfhack commented on #1
I actually have a patch for this, I'll do a PR soonish

[2020-10-05 10:02] KameDomotics commented on #1
It’s fantastic! Thanks

[2020-10-05 11:16] wifi75 commented on #1
@atxbyea hello, from Ha it is possible update ? Or I must update from custom folder ?

[2020-10-05 11:22] atxbyea commented on #1
@elfhack wonderful, please submit and I'll take a look

[2020-10-05 11:23] atxbyea commented on #1
@wifi75 I merged with HACS today, so it should be avaliable sometime soon I guess.

[2020-10-05 11:38] wifi75 commented on #1
which component name?

[2020-10-05 11:41] wifi75 commented on #1
@atxbyea  it is ok already found on Home assistant !

very good

[2020-10-05 12:41] Jens-Wymeersch commented on #5
Hi @atxbyea, thank you for reaching out. I'm running HA on a virtualbox machine on top of i7 16G RAM windows machine.
I can see all A/Cs and control them (very slowly though).

So there is no connection problem besides the A/C in the Kitchen which I need to reboot (which is one error).

Your code brings HA to crawling speed and at some point stops working. This behavior starts to be visible from t

[2020-10-05 16:10] wifi75 commented on #5
@atxbyea it's true, this component works but it greatly affects the home assistant's performance, in practice it slows it down

[2020-10-05 16:52] atxbyea commented on #5
Interesting,I've run the component for over a year, I have probably over 1000 entities in HA and I notice no slowdown of HA

[2020-10-05 17:45] KameDomotics commented on #1
I have installed 3.1 version, but same problem persist.

I also tried to uninstall and reinstall from scratch, but the error persists

`Logger: homeassistant.util.async_
Source: util/async_.py:105
First occurred: 19:38:39 (6 occurrences)
Last logged: 19:39:48

Detected I/O inside the event loop. This is causing stability issues. Please report issue to the custom component author for climate_ip doi

[2020-10-05 17:53] KameDomotics commented on #1
At line 105 of connection_request.py i have this:

:
                    resp = session.request(**self._params)
                    self.logger.info(
                        "Command executed with code: {}, text: {}".format(
                            resp.status_code, resp.text
                        )
                    )

[2020-10-05 18:25] Jens-Wymeersch commented on #5
If you only have a few A/Cs, you don't see any real degradation in performance. With 6, it brings HA on its knees.

[2020-10-05 18:47] KameDomotics commented on #1
please @atxbyea @ishioni  i am getting too many indications and changes to make, i don't understand anything anymore and i can't solve the problem. ☹️

Now, I have already installed (new installation from zero) climate_ip 3.1 from HACS... now what should i do?

[2020-10-05 21:37] thadius83 commented on #4
If it makes any difference, the MIM-H03 is connected to a central system rather than the wall mount reverse cycle systems.

I can send curl commands and receive invalid token when querying data but the acdc method and the server8889 and curl request with a token id of xxxxxxxx return nothing

I guess the question here is has anyone got this working with a central system rather than the typical wal

[2020-10-05 21:39] thadius83 commented on #5
Just a quick question. What unit are you using for controlling the 3-6 AC's, and what model are they?

[2020-10-06 01:35] Jens-Wymeersch commented on #5
Hi,
Although I bought 4 of my 6 A/Cs just a couple of months ago, they are all port 2878 A/Cs. Model AR18HSFSSWKN, AR09HSFSSWKN x 3, AR12HSFSSWKN X 2

Regards,
Jens

[2020-10-06 09:00] wifi75 commented on #5
@atxbyea I have two AC, but fir example when script running shelly for example it is slow in executing the command to switch on a lamp or shutter, when stopped the script becomes very fast

[2020-10-06 09:08] Jens-Wymeersch commented on #5
I've found the problem with my HDD and will do another run later today.

[2020-10-06 13:41] atxbyea commented on #1
@elfhack @KameDomotics @wifi75 I have now merged the PRs from @ishioni thanks again 👍

[2020-10-06 18:59] ishioni commented on #1
@atxbyea I made a typo in my last PR, please pull #8

[2020-10-06 19:25] atxbyea commented on #1
Release 3.2 should be out now with @ishioni fixes @KameDomotics

[2020-10-06 20:09] d3m3trius commented on #5
It used to happen also to me, sometimes the AC become unresponsive (for reason not depending from HA or this components), and when this happen, the calls to retrieve the status fails, the log is flooded with errors and HA become unresponsive.

It would be useful to introduce a mechanism that, we a number of calls fails, set the entity as unavailable and stop making continuous call to the AC. Maybe

[2020-10-06 22:08] ishioni commented on #4
I have a script that I picked up from someone, I could polish it up and include it + some simple docs on how to use it, it should then spit out the token painlessly for people

[2020-10-07 11:18] KameDomotics commented on #1
unfortunately I always have the same problem even with v3.2 ☹️

`Logger: homeassistant.util.async_
Source: util/async_.py:105
First occurred: 13:10:37 (1 occurrences)
Last logged: 13:10:37

Detected I/O inside the event loop. This is causing stability issues. Please report issue to the custom component author for climate_ip doing I/O at custom_components/climate_ip/connection_request.py, line 105:

[2020-10-07 11:27] KameDomotics commented on #1
FANTASTIC! now finally it works well, and the Warning “Detected I/O event inside the loop” appear only one time after HA reboot (before it always appeared at every operation).

Only one question:
now "none" appears as in the image.  how can i delete it?  (before it was not there)
![BD964CE3-37C6-450B-96C5-D72D02D46DA4](https://user-images.githubusercontent.com/47695661/95324828-9b67e900-08a0-11eb-

[2020-10-08 00:28] rgogada opened #9 "current_temperature (AC_FUN_TEMPNOW) is incorrect"
the current temperature shows 73c in HA but on the panel it is 16c. there was a suggestion to reduce 55 from AC_FUN_TEMPNOW, but that is not accurate either. any idea why it shows differently? Thanks in advance.

[2020-10-08 09:01] atxbyea commented on #5
@d3m3trius @Jens-Wymeersch have you tried the new 3.2 release if the issue persists ?

[2020-10-08 09:02] atxbyea commented on #4
nice @ishioni I was thinking of building a docker container with the correct dependencies for it, but if you already have something working that'll be grand.

[2020-10-08 09:04] atxbyea commented on #9
I have no issues displaying the correct temperature here, I'll try to look at it and see if I see something obvious.
What model do you have, and what release do you have installed?

[2020-10-08 09:48] ishioni commented on #5
Not sure which model you have, but I see this behaviour from time to time where the unit will keep disconnecting and connecting to wifi in a period of around 3 minutes, for a random time. I kept troubleshooting this for a long time, and after carefully eliminating any other factor (I even soldered an external antenna), I came to the conclusion that the firmware inside can't ping something inside t

[2020-10-08 09:51] Jens-Wymeersch commented on #5
@atxbyea I've been quite busy the last few days. I'll do the tests this weekend.

[2020-10-08 13:05] #1 closed

[2020-10-08 21:08] Jens-Wymeersch commented on #5
Gents,

I've installed the component on my test system and it worked quite well. thank you @atxbyea @ishioni

still I get the following errors
`2020-10-08 23:57:41 WARNING (MainThread) [homeassistant.setup] Setup of unifi is taking over 10 seconds.
2020-10-08 23:57:41 WARNING (MainThread) [homeassistant.setup] Setup of input_select is taking over 10 seconds.
2020-10-08 23:57:41 WARNING (MainThread

[2020-10-09 07:41] Jens-Wymeersch commented on #5
@atxbyea @ishioni Yesterday evening I moved to production with the component and till now it running smoothly. Thank you so much !

[2020-10-09 22:59] d3m3trius commented on #5
Disconnected power to the AC to "simulate" its disconnection, and tested old and new version in the same condition.

I didn't notice differences between 3.1.and 3.2. The performance seems similar too, but to be honest this time I didn't notice drops in performance in the old version either. It's possible that performance starts to drop after several hours of failed connections, and that's why I di

[2020-10-10 12:44] atxbyea commented on #5
Please keep monitoring it for performance drop @d3m3trius.

I have no issues with performance with just one, so can't reproduce it either.
The error message you see there would be normal when a device is off wifi \ powered off anyway.

[2020-10-10 21:13] d3m3trius commented on #5
So far HA performance are still good, so I think async calls solve the issue.
The AC in the meantime has become unresponsive for real.
The log grows rapidly at a rate of 10MB/day for every AC with connection problems.

I think that logging could be greatly reduced removing the traceback (moving to different log level?), and it would be useful to log ip or name of the AC that does not respond.
Howe

[2020-10-12 06:30] rgogada commented on #9
I am using M02 (samsung_2878).

[2020-10-12 07:53] KameDomotics opened #10 "Climate_ip 3.2 errors"
Hi @atxbyea ,
today I have got this errors in HomeAssistant Log:
(Climate_ip 3.2)

[code]

[2020-10-13 11:49] KameDomotics commented on #10
Today, same error.
The air conditioner has not been switched on or used, it has always remained off (I wasn't even at home)

[code]

[code]

[code]

[2020-10-13 21:15] thadius83 commented on #4
That would be fantastic

I'm starting to wonder if it's because I'm using a central air unit rather than a split system. But I would have thought it's the MIM that provides the tokens

I get multicast SSDP traffic from the MIM unit, containing generic info, but when using the server/request script and even acdc nothing but black.

[2020-10-15 13:45] atxbyea commented on #10
Yeah, I have none of these issues as my AC is running 24\7, hopefully someone else might know a workaround for it.

[2020-10-15 13:46] atxbyea commented on #9
Same as me, I've changed my temp up and down, and I cannot replicate your issue, it almost looks like a difference between fahrenheit and celsius... but it isnt...

[2020-10-15 13:47] atxbyea commented on #5
Yeah, I don't have that issue as my AC is avaliable 24\7, hopefully someone comes along that knows how to fix this at some point

[2020-10-15 19:06] Jens-Wymeersch commented on #5
My Home assistant broke down the last few days and I had to start over again. At least I got ride of some errors doing so...
I went to the new release of HA and now your @atxbyea custom components brings my HA down again... I'll do another try again this evening but it's not really encouraging !

[2020-10-26 08:30] buzurk26 opened #12 "Error when clicking card, temp showing as farenheight"
Hi - Thanks for this, got my AC working again, as i used the older one and it stopped on me

I have a few questions

1) When i click the entity card in HA, the box comes up all seems normal, but a message pops up as see here
![image](https://user-images.githubusercontent.com/39994663/97149830-6543c800-17c1-11eb-8250-3f2e0d2975fa.png)

2) The "Currently" temperature is reading in Fahrenheit, not Ce

[2020-10-26 13:39] dapuzz commented on #5
Same issue for me. I have 2 AC, one of them has unstable connection. Logs get full of message [Errno 113] No route to host and HA became very slow.
I have to comment the entity in my configuration.yaml and force restart.

[2020-10-27 00:43] d3m3trius commented on #5
Not a solution but, to to avoid destroying the disk with useless writes, I modified locally the code from self.logger.error(...) to self.logger.info(...) on line 232 and 236 of samsung_2878.py.

[2020-10-30 14:09] valdenny opened #13 "climate_ip: error while creating controller!"
Dear atxbyea,
I have a problem with this custom component.
Can you help me pls?

Best regards.
Daniele

***HA Version***
Home Assistant 0.115.2

***configuration.yaml***
climate:
  - platform: climate_ip
    name: 'AC Living Room'
    config_file: 'mim-h03_heatpump.yaml'
    ip_address: 'xxx.xxx.xxxx.xxxx'
    token: 'xxxxxxxxxxxxx'
    cert: 'ac14k_m.pem'
    debug: True

***LOG***

[2020-11-06 17:39] kleju00 opened #14 "Support Samsung AC with Wind Free mode"
Some air conditioning models from Samsung have a Wind Free mode. To handle it you need to add the following mode and special mode in samsungrac.yaml

` 'Wind Free': { value : 'Comode_Nano', connection: { params: { json: { "options": ["Comode_Nano"] } } } }`

[2020-11-16 08:56] atxbyea commented on #14
@kleju00 could you submit it as a PR and I'll review and commit it

[2020-11-16 08:58] atxbyea commented on #13
I haven't seen any other users with the mim version, are you sure it is the correct file you are using ? what is the model of the heat pump @valdenny ?

[2020-11-16 09:00] atxbyea commented on #12
As for the first one I've had other users report the fahrenheit value without me understanding why, I'll try to look into it more when I have time.

For the second option I can try to create a new config file that will not include these values, just need time ;-) @buzurk26

[2020-11-16 09:01] atxbyea commented on #10
are you still having issues @KameDomotics ?

[2020-11-16 09:14] atxbyea commented on #12
I've created a samsung_2878_noswingorpreset.yaml , can you add that file to your directory and try to use it and see if it does what you expect @buzurk26 ?

[2020-11-16 09:19] atxbyea commented on #14
Like this @kleju00 https://github.com/atxbyea/samsungrac/pull/15 ?

[2020-11-16 09:25] buzurk26 commented on #12
thanks heaps

will try file, do i replace any files with it, or just place it in directory

[2020-11-16 09:56] atxbyea commented on #12
Just place the file in the directory and call it from the config

[2020-11-16 10:18] atxbyea commented on #5
Could you submit that as a PR and I can review it @d3m3trius ?

[2020-11-16 22:28] valdenny commented on #13
Ho @atxbyea , thanks for supporting me!  It is a dual split system AR12MSFPEWQNET and AR09MSFPEWQNET.  To manage everything via mobile, Samsung support recommended the MIM-H03 WiFi Kit.  I am a System Administrator, I am not a developer, but if you guide me we can solve it together.
The configuration file I am using is a copy of the original "mim-h03_heatpump.yaml" file.  The changes concern only

[2020-11-17 04:21] buzurk26 commented on #12
Hi Erik, I gave that a go, does not appear to want to load that file
![image](https://user-images.githubusercontent.com/39994663/99346349-855e3700-28e8-11eb-8a08-6448061e88de.png)

[2020-11-17 17:32] kleju00 commented on #14
Yes exactly.

[2020-11-19 18:51] KameDomotics commented on #10
Hi, I have always this errors continuously.

In the course of the day these errors are repeated at least a hundred times, in the last few days the problem has worsened considerably.

is there a way to "exclude" this control?

Thanks

[code]

[code]

[2020-11-21 11:23] atxbyea commented on #14
Release 3.3 should fix this, closing issue

[2020-11-21 11:23] #14 closed

[2020-11-21 11:24] atxbyea commented on #12
Thanks for the feedback, I will try to get something working when I have time.

[2020-11-21 11:35] atxbyea commented on #13
Oct 30 14:37:17 DVSL_HomeAssistant hass: 2020-10-30 14:37:17 ERROR (MainThread) [custom_components.climate_ip.climate] climate_ip: error while creating controller!

Seems to indicate this bit of code :

    try:
        device_controller = create_controller(
            config.get(CONF_CONTROLLER), config, _LOGGER
        )
    except:
        _LOGGER.error("climate_ip: error while creating contro

[2020-11-22 18:50] KameDomotics commented on #10
Hi @atxbyea

I did these tests:

 - created binary_sensor ping on the IP of the air conditioner
 - with the air conditioner OFF, it sometimes disconnects from the wifi network for 30 seconds and then reconnects
 - during this disconnection, it generates the error I described in the past few days
 - with the air conditioning ON, no disconnection and no errors

I also checked these things:

 - the F

[2020-11-23 12:55] atxbyea commented on #5
Merged @d3m3trius PR, upping release

[2020-11-23 12:57] atxbyea commented on #4
any update on your progress @ishioni ?

[2020-11-23 12:58] atxbyea commented on #10
I will try turning off my AC for a period of time next time I'm working from home and see if I see the same you are seeing @KameDomotics

[2020-11-23 13:58] valdenny commented on #13
Hi Eirik,
I added "controller: yaml" in my configuration.yaml, but the result did not change:

climate:
  - platform: climate_ip
    name: 'ClimatizzatoreSoggiorno'
    config_file: '/home/homeassistant/.homeassistant/custom_components/climate_ip/ac_soggiorno.yaml'
    ip_address: 'xxx.xxx.xxx.xxx'
    controller: yaml
    token: 'xxxxxxx'
    cert: 'ac14k_m.pem'
    debug: True

I also added some

[2020-12-07 05:45] buzurk26 commented on #12
Hi, Noticed something on this one which may lead you on a different direction

So, i though mine was reading farenheight for the "current temp", given the number was so high, but it turns out perhaps it just not reading at all? and what leads me to this is, looking in HA at the history, the current temp never changes from 86

My current temp (according to the wall panel) is 33 degrees C (91 degree

[2020-12-13 13:14] Jens-Wymeersch opened #18 "Installation via HACS"
Basically via HACS, the repo gets placed in the custom_components folder but there is no card in HACS (indicating the installation was done).

[2020-12-13 14:27] #18 closed

[2020-12-17 19:56] 5a2v0 opened #19 "Setup failed for climate_ip: No setup function defined."
Hi, I follwed old discussion on the SebuZet original code and arrived to yours forked version.
I installed this version and configured the YAML with my aircon ip, mac address and token.
When HA starts i get always the error : "Setup failed for climate_ip: No setup function defined."

[2020-12-18 08:20] #19 closed

[2020-12-18 08:20] 5a2v0 commented on #19
Bad yaml configuration

[2020-12-18 23:59] valdenny commented on #13
Hi Eirik, do you have any suggestions for me to understand where the problem lies?  thank you very much!

[2020-12-22 21:31] postlund commented on #5
One culprit to the issue is this line:

https://github.com/atxbyea/samsungrac/blob/0e4ffd9f7111243d92d531439b2efca07f95fa9f/custom_components/climate_ip/climate.py#L259

It runs blocking synchronous code in async context, I.e. you block the entire event loop so that *nothing* can run for 1.5s every scan interval. Since @Jens-Wymeersch has six units, that sums up to 6*1,5s=9s which is 9/15=60% of t

[2020-12-22 22:34] Jens-Wymeersch commented on #5
@atxbyea would it be possible to have a look what Pierre wrote above and evaluate if we can add it to the new release ?

[2020-12-23 16:52] Jens-Wymeersch commented on #5
Just to report with the fix of Pierre, I was able to run the CC in my primary HA environment for the first time and without significant performance issues.

[2020-12-24 09:41] atxbyea commented on #5
@Jens-Wymeersch @postlund if you can submit a PR for that I can merge it when I have time

[2020-12-24 10:22] postlund commented on #5
@atxbyea I can submit one later.

[2020-12-24 18:08] postlund commented on #5
PR submitted as #20.

[2020-12-24 21:38] #5 closed

[2020-12-24 22:14] KameDomotics opened #21 "V. 3.5 don’t work"

[2020-12-24 22:15] KameDomotics commented on #21
After the update from 3.4 to 3.5, the air conditioning entity has disappeared.

I downgraded to version 3.4 and the entity is back to being available.

[2020-12-25 15:57] ishioni commented on #21
There's a second call to async_update wrapped in create_task that needs to be reverted. I'll prepare a PR when I get home

[2020-12-25 15:59] ishioni commented on #4
Hey sorry for the delay. I couldn't find the time, and now because of a stupid mistake i burned my swl-qc51 module :( I'll get a replacement around February unless someone points me to a trusted european source

[2020-12-28 09:16] dapuzz commented on #21
Same issue here with old 2878 protocol:

`2020-12-28 10:07:44 ERROR (MainThread) [homeassistant.components.climate] climate_ip: Error on device update!
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.8/site-packages/homeassistant/helpers/entity_platform.py", line 359, in _async_add_entity
    await entity.async_device_update(warning=False)
  File "/srv/homeassistant/lib/p

[2020-12-28 10:04] KameDomotics commented on #21
Samsung AR7000 (samsungrac 8888)

[2020-12-28 15:47] massive commented on #21
Same here. Started happening after upgrading to Home Assistant 2020.12.1 from 2020.12.0.

[2020-12-29 13:16] Jens-Wymeersch opened #22 "Latest Release doesn't show the entities anymore."
@atxbyea Version 3.5 seems to be off :
![image](https://user-images.githubusercontent.com/70786498/103286034-44c60300-49e8-11eb-903c-d2ef901e7d3a.png)
This is not the case in 3.4 with the changes made by Pierre.
![image](https://user-images.githubusercontent.com/70786498/103286380-b9993d00-49e8-11eb-9466-e61b390ad1c1.png)

[2020-12-29 19:22] atxbyea commented on #22
I noticed the same and had to revert, but I don't have time to fix it until after Christmas

[2020-12-29 19:47] KameDomotics commented on #22
I have same problem with 3.5 and samsungrac

[2020-12-29 19:51] Jens-Wymeersch commented on #22
@KameDomotics I highly recommend looking at the fix from Pierre https://github.com/atxbyea/samsungrac/issues/5#issuecomment-749785206

[2020-12-29 20:05] KameDomotics commented on #22
can you show me the complete modification you made? (Screenshot)
Thanks

[2020-12-29 20:26] KameDomotics commented on #22
![6DBF5143-AF8F-4B58-B65F-15B7B7F19A53](https://user-images.githubusercontent.com/47695661/103312150-75c02b00-4a1c-11eb-9228-e6ea85438c2a.jpeg)

Don’t work!

[2020-12-29 20:47] Jens-Wymeersch commented on #22
Hi @KameDomotics
I deleted those 4 lines and changed them with what Pierre gave, it is a hell of a difference for me

![image](https://user-images.githubusercontent.com/70786498/103313129-c38e6080-4a27-11eb-81cc-bd2cd73bd2ec.png)

[2020-12-29 21:09] KameDomotics commented on #22
I have another problem with my climate:
it sometimes disconnects from the wifi network, and when HomeAssistant "call" it and does not find it reachable, it continually creates errors like this:

`Logger: custom_components.climate_ip.climate
Source: custom_components/climate_ip/connection_request.py:113
Integration: climate_ip (documentation, issues)
First occurred: 21:59:55 (2 occurrences)
Last lo

[2021-01-04 12:38] atxbyea commented on #22
this issue has been resolved

[2021-01-04 12:38] #22 closed

[2021-01-04 12:38] atxbyea commented on #21
3.5.1 fixes this issue

[2021-01-04 12:38] #21 closed

[2021-01-04 12:39] atxbyea commented on #10
I believe this is now fixed in 3.5.1

[2021-01-04 12:39] #10 closed

[2021-01-04 12:40] atxbyea commented on #4
Great, thanks for the feedback @ishioni

[2021-01-04 19:44] ascl00 commented on #4
Any chance you could post the raw script in the mean time? I have the same MIM-H03 and have not found a way to get the auth token, and am happy to dig through a messy script to find the answers.

[2021-01-14 17:56] ricain59 opened #24 "Not working"
hi,
i have installed component but on log of home assistant i have this error:
[code]
Home Assistant 2021.1.1

[2021-01-18 11:37] atxbyea commented on #24
That would probably be a networking issue on your end.

What device is it ? What IP does it have ? what IP does your HA instance have ? @ricain59

[2021-01-18 11:54] ricain59 commented on #24
Hi,

I resolved my problem using this: https://github.com/gsasha/hvac_ip_mqtt_bridge

Sorry for inconvenience.

[2021-01-18 11:54] #24 closed

[2021-01-18 21:55] jpomella commented on #12
Hello - I also notice the same issue mentioned above. Has there been any update here? The main card in HA shows 73 Celsius in the main number of the card and then 24 Celsius in the part below. The 73 is actually the temp in F but it is not converting.

![image](https://user-images.githubusercontent.com/10135981/104966035-14e0ad00-5a34-11eb-9acc-762edd1d66d9.png)

[2021-01-25 16:28] Poncharello commented on #13
Hi folks,
as @valdenny, I am also trying to set up the integration for a MIM-H03 wifi controller with a console dual split (MH026FJEA+AJ040MCJ2EH).
In my configuration.yaml I put:

climate:
  - platform: climate_ip
    config_file: '/config/custom_components/climate_ip/mim-h03_heatpump.yaml'
    ip_address: 'xxx.xxx.xxx.xxx'
    token: 'xxxxxxxxxxxxxxxxxxx'
    cert: '/config/custom_components/cli

[2021-03-07 11:10] valdenny commented on #13
[mim-h03-v3.0.25.yaml.txt](https://github.com/atxbyea/samsungrac/files/6096974/mim-h03-v3.0.25.yaml.txt)

[2021-03-07 11:10] #13 closed

[2021-03-07 11:14] valdenny commented on #13
Hi @Poncharello,
Hi @atxbyea
I solved it by editing the yaml file as attached.
I have created a new version of the file that I am attaching to the comment.
Daniele.

[mim-h03-v3.0.25.yaml.txt](https://github.com/atxbyea/samsungrac/files/6096981/mim-h03-v3.0.25.yaml.txt)

[2021-03-08 21:31] Poncharello commented on #13
Ciao @valdenny,
thank you! I think the only thing I'm missing now is to retrieve the token from the MIM-H03 controller.
How did you get it? I tried almost every guide on the internet without success.
Could you please help me one more time?

Thanks in advance!
:)

[2021-03-10 05:57] tinstep opened #25 "SSL errors all of a sudden, not sure of its SSL Lib, or Certificate"
Hi
I run HA in ubuntu 20.04, climate_ip stopped working somewhere in the last month. I've made no changes and it was controlling two Samsung AC units perfectly. When it stopped working added debug clauses for climate_ip to HA and didn't really see any additional details, however after updating HA today to 20210303 I can now see all these errors related to climate_ip coming through the logs.
This i

[2021-03-10 20:35] ishioni commented on #4
No, that's ^ not the one you need

@atxbyea I'm attaching what I more-or-less used and what I wanted to integrate into my pysamsungrac. I only verified it with 8888 devices. However, I'll be abandoning the project completely, since not only did I burn my wifi module, but I'm moving from my house where it's installed, and I certainly am not taking it with me, and I'll aim to never buy an unsupporte

[2021-03-10 20:48] ascl00 commented on #4
Thanks for posting this, I'll give it a shot at some point, although it looks pretty similar to what I have previously tried. I'm totally with you on not buying a supported AC again. I'm very disappointed with this crappy wifi control unit.

[2021-03-14 01:45] jjprz commented on #4
I can't get the token, it doesn't seem to listen to anything on port 8889. What is the use of the token I returned at https://account.smartthings.com/tokens?

I have a MIM-H03N device and it seems that from the API I can only turn the device on or off, I cannot access the settings of the indoor unit.

![Screenshot_20210312-002816_opt](https://user-images.githubusercontent.com/17064130/111054508-7b

[2021-03-15 21:31] buzurk26 commented on #12
Hi, Any update to this?

Mine is still reading the current temp incorrectly, in fact i dont think its reading at all as it does not seem to change ever from "86"
![image](https://user-images.githubusercontent.com/39994663/111224006-0082f000-8632-11eb-80c9-27f2a53f0e0f.png)

[2021-03-20 00:05] Nick398 opened #26 "No 'version' key in the manifest file for custom integration 'climate_ip'."
No 'version' key in the manifest file for custom integration 'climate_ip'. This will not be allowed in a future version of Home Assistant. Please report this to the maintainer of 'climate_ip'

https://developers.home-assistant.io/docs/creating_integration_manifest/

Just a WARNING now, but it seems they will prevent it from running in the future.

[2021-03-21 17:50] Poncharello commented on #4
Same here. I have a MIM-H03 wifi controller and it seems impossible to get the token, with actest.py I get no answer on port 8889. This token is driving me crazy.

[2021-03-21 20:45] ascl00 commented on #4
I need to do a packet capture from the A/C after restarting it and sending a token request, but it's annoying to have to go outside, flip the fuse to reboot the A/C! Definitely cuts down on my drive to solve this.

[2021-03-21 21:28] thadius83 commented on #4
Can you confirm that you have a central aircon / zone based Samsung aircon / in roof cassette with the condenser and fans outside, and a hardwired wall controller like the [following](https://www.samsung.com/au/support/model/MWR-WE13N/)

And **you get the correct token by power cycling the OUTDOOR unit** ? Not the wall controller? (Of course via wireshark - that's all fine)

A in roof setup like t

[2021-03-21 22:09] ascl00 commented on #4
Well, I wouldn't take my comments as anything gospel, as I am also unable to get a token. That said, yes, I have the setup as you describe. From the wiring diagram, the controller should be powered by the in-roof unit, so should be powered by the same fuse as the outside unit. I guess it is possible this isn't the case in your setup, but it is for me (I have 3 phase power, with a dedicated phase f

[2021-03-21 22:38] valdenny commented on #4
Hi, I don't know if it can be useful to you.  I had obtained my MIM-H03 token following a thread on the OpenHub forum.  I report it here "copy and paste" of the text:

**> Request payload: b'{"DeviceToken":"r42iD2EW1a"}'**
<----- Request End -----

[2021-03-21 23:36] ascl00 commented on #4
Hitting the reset button does appear to cause a reboot of the device. Doing a packet capture I see it re-negotiating its IP address via DHCP, and registering with api.smartthings.com.... but sending the port 8888 request just does nothing. The request succeeds with an HTTP 200, but there is no outbound traffic from the A/C controller.

I wonder if this a firmware version thing?

[2021-03-22 11:03] atxbyea commented on #26
Fixed in 3.5.2, thanks @Nick398

[2021-03-22 11:03] #26 closed

[2021-03-22 11:05] atxbyea commented on #25
How are you running your HA ? Is it a docker container ? supervised ? core pip install ?

[2021-03-22 11:11] atxbyea commented on #4
Unfortunatly I only have a 2878 device, so I have never tried to get any other device to work, just forked the existing product, that used to work with those other products atleast...

[2021-03-22 18:47] Poncharello commented on #4
This is what I have done:
1) From the original actest.py I got this error:

    /usr/local/lib/python3.9/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host '192.168.178.127'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

 so I add

[2021-03-22 20:18] ascl00 commented on #4
The connection refused will happen while the controller is starting up, before it is ready to accept connections, that is, I think, expected (or at least not unusual for a device starting up). You may need to delay the start actest.py or increase the number of retries.

I have been experimenting a bit with various URLs and capturing packets, and I am quite suspicious that I am using the correct UR

[2021-03-22 20:58] Poncharello commented on #4
Thanks for your reply @ascl00
I tried to start the actest.py with various delays after power ON, but still no success.
Maybe it's a firmware version "issue", as you have suggested before.
The label says that my MIM-H03 was manufactured 2019/10, but no info regarding the FW version is reported.
On the box there's a label stating "Samsung SmartThings support", so I guess that the FW is quite recent.

[2021-03-23 00:02] valdenny commented on #4
Try to hard reset MIM-H03 by holding down the AP key of the MIM-H03 for more than 3 seconds.  I too have had difficulties and have made dozens of attempts.  then miraculously it worked.

[2021-03-23 01:59] tinstep commented on #25
Hi Im running in
"pip install"
![image](https://user-images.githubusercontent.com/13074363/112081308-904b1000-8bd7-11eb-9bb2-4a68720fed50.png)

[2021-03-23 02:58] Nick398 commented on #26
Thanks mate!

[2021-03-23 03:49] tinstep commented on #25
Just updated to Latest Core HA with same result.
![image](https://user-images.githubusercontent.com/13074363/112090091-060aa800-8be7-11eb-83e3-83dc6b3acfeb.png)

[2021-03-23 11:56] atxbyea commented on #25
The AC uses older certificates, try editing `/etc/ssl/openssl.cnf` and changing `CipherString = DEFAULT@SECLEVEL=2` to `CipherString = DEFAULT@SECLEVEL=1`

[2021-03-23 19:24] Poncharello commented on #4
Hi @valdenny,
I made it!!! I pushed the reset button (after trying with the AP key with no success) on the device, waited about 10 seconds and then hitted enter to start actest.py
After the device rebooted, the led "AP" was flashing and at this point I got the response on server.py!!!
<img width="780" alt="Schermata 2021-03-23 alle 19 57 05" src="https://user-images.githubusercontent.com/68972941/

[2021-03-23 20:40] valdenny commented on #4
@Poncharello Great!!!
Now you can do one thing for the community:
Describe exactly the steps you took for the MIM-H03 so that @atxbyea can document it and take another step towards closing this issue! :)
About your situation, I refer you to another issue that I had opened.
https://github.com/atxbyea/samsungrac/issues/13
At the bottom of thread you find my file **mim-h03-v3.0.25.yaml.txt**

[2021-03-23 20:48] jjprz commented on #4
@Poncharello marvelous!!
Can you describe the steps you did? When performing these steps do you have to re-link the device in Smartthings app?

[2021-03-23 21:44] Poncharello commented on #4
I would be happy to help the community :)
These are the steps I performed:
1) step: python3 server.py on 1st terminal window
2) I tried to hold down for a few seconds the AP key (as suggested by @valdenny), but the device did not reset. The wifi LED turned off and AP LED turned on. I really don't know if this step is related to the final result, but actest.py timed out with no response on port 888

[2021-03-23 22:30] valdenny commented on #4
Great.
To manage the two consoles you need to create 2 different mim-h03-v3.0.25.yaml files.
The difference between the files is only in the ID of the indoor unit: "032001000" and "032001001"
Then enter this line in the configuration.yaml:
e.g.

climate:
  - platform: climate_ip
    name: 'Climatizzatore Soggiorno'
    config_file: '/home/homeassistant/.homeassistant/custom_components/climate_ip/m

[2021-03-24 01:07] ascl00 commented on #4
@Poncharello  that's interesting, so you held down the AP key, which I think should reset the device to "Access Point" mode and not connect to wifi, but then you hit reset and it connected to wifi?

It's great you got it working, and also good to know that hitting reset is enough and powercycling is unnecessary. I tried your sequence of events without luck, but it gives me some hope :)

[2021-03-24 03:27] ascl00 commented on #4
OMG!
`14:09:30.390522 IP 192.168.2.90.56862 > 192.168.2.1.8889: Flags [S], seq 1834935374, win 5840, options [mss 1460,sackOK,TS val 715007 ecr 0,nop,wscale 2], length 0
14:09:30.390797 IP 192.168.2.1.8889 > 192.168.2.90.56862: Flags [R.], seq 0, ack 1834935375, win 0, length 0
`

Finally! I see packets sent to the right port!  Now using the script I can capture a device token!

The key was defini

[2021-03-24 18:24] Poncharello commented on #4
@ascl00 I'm glad you did it too! So it seems that the AP mode is mandatory to get the token.
@valdenny Thank you! In that way I can control both consoles (I only have a little issue on one of them, but I'm pretty sure it's caused by a wrong addressing. I'll check the internal switch next weekend).

[2021-03-25 01:41] thadius83 commented on #4
No way.

So, reset controller to AP mode, join laptop to the AP.

Run script, reset AP if required?

And token provided?

I'll attempt this over the weekend and confirm, I must admit this is one sequence I haven't tried

[2021-03-25 02:00] ascl00 commented on #4
No full reset to AP mode. I think what happens is there are two different methods to get a device token according to the SDK documentation. An "Easy" mode which does not require user intervention, but has to happen after a restart, and a normal registration mode that requires the user to press the AP button to "prove" they are local to the device. Most of the guides suggest using the former regist

[2021-03-26 10:11] Poncharello commented on #4
@ascl00 please note that in my sequence I did not press the AP button after reset. I pressed it only before.

[2021-03-26 21:03] Poncharello commented on #13
Hi @valdenny,
hi @atxbyea,
as explained in the #4 discussion, I was able to obtain my token from the MIM-H03 controller.
I followed @valdenny instructions to create 2 different yaml files (editing the unit ID) in order to set up 2 climate controls.
Now I'm struggling against a very strange issue. My wifi controller is connected to 2 floor console indoor units (IDs 032001000 and 032001001). One of

[2021-03-26 21:06] ascl00 commented on #4
@Poncharello - good to know, I thought I saw that behaviour as well, but wasn't sure.

[2021-03-27 18:11] Poncharello commented on #13
Solved.
In the yaml file of the 2nd indoor unit, I had to change from this:

status_template: '{{ device_state.Devices.1 }}'

to this:

status_template: '{{ device_state.Devices.2 }}'

Cheers

[2021-04-02 04:24] tinstep commented on #25
I tried your suggestion in on the host machine - however that line didn't exist, and when i added it and restarted it made no difference. I looked for an etc directory in the python virt environment and didn't see one.
Any other ideas?

[2021-04-07 07:51] tinstep commented on #25
OK I think I have fixed it.
There are 2 files that need to change.

On line 246 of _samsung_2878.py_

I changed this line "sslContext = ssl.SSLContext(ssl.PROTOCOL_TLSv1)"
to read
`sslContext = ssl.SSLContext(ssl.PROTOCOL_TLS)`

I also tried using `PROTOCOL_TLSv1_1`, `PROTOCOL_TLSv1_2` and `PROTOCOL_TLSv1_3` and they all failed with `ssl.SSLError: [SSL: CA_MD_TOO_WEAK] ca md too weak (_ssl.c:4022)

[2021-04-08 10:19] Poncharello commented on #1
Hi @atxbyea,
hi @ishioni
From the latest 2021.4 HA changelog:

Core / Custom integrations

Block detectable I/O in the event loop

We added a warning when this happens last April and gave developers a year to fix the instability. We now prevent the instability by raising RuntimeError when code attempts to do known I/O in the event loop instead of the executor.

We now provide a suggestion on how t

[2021-04-12 09:16] atxbyea commented on #25
Great, thanks @tinstep  I will try to get this mentioned in the readme as a possible solution.

[2021-04-16 13:15] menzy81 commented on #9
I too was having the same issue as rgogada & I am using the same M02 as well.
I fixed it by changing the following line in climate.py. I found this fix in the original thread.

Original:
    @property
    def current_temperature(self):
        return self.rac.get_property(ATTR_CURRENT_TEMPERATURE)
Fix:
    @property
    def current_temperature(self):
        return (self.rac.get_property(ATTR_CURR

[2021-04-19 06:12] deece opened #27 "Calling climate.turn_off toggles power rather than turning off"
When calling the turn_off service as follows (from Node Red):
Domain: climate
Service: turn_off
Entity: (my Samsung AC)

If the current state of the AC is off, the call turns it back on.

This doesn't occur with my Daikin AC (which uses a different integration)[](url)

[2021-04-19 06:12] deece commented on #27
Relevant logs with repeated calls to turn_off:

[code]

[2021-04-19 06:16] deece commented on #27
Config: ```climate:
        - platform: climate_ip
          debug: true
          name: 'AC Rear'
          config_file: 'samsung_2878.yaml'
          ip_address: 'ac-rear.lan'
          mac:  'redacted'
          token: 'redacted'
          cert: ''
888

[2021-05-09 14:43] Derfington opened #28 "MIM-H03 Module / Request execution failed. Stack trace:"
Hi thanks for the module.

I am getting errors trying to configure this module with one of my two samsung ducted air conditioners. (I am just trying to get one to work for now).

After getting my 10 digit token from the MIM-H03 module I installed the hac's addon.

I've added the following to my configuration.yaml

`climate:
  - platform: climate_ip
    config_file: '/config/custom_components/clima

[2021-05-11 09:18] Derfington commented on #28
So a bit more digging and I have found that the card will display in home assistant if the unit is powered on and in a cooling / heating mode.

with not much change to the logs. I have decided to start modifying to try and get a few more logs out of it. nothing really comes out of trying to display the errors.

Here is the log when HA is restarted with the unit on.

[code]
~/samsung$ curl -v -k -H

[2021-05-21 16:09] dennisdegreef commented on #25
I experience the same problem but with a different (newer?) model.

[code]

This is a very quick and dirty hack, but it seems to work.

I do notice the following in the logs, but I think that's the request itself, and not modifying the ciphers.

[code]

My python (especially async) is a bit rusty, but could someone confirm this? And if so, I think the better solution is to "mount" a specific adapt

[2021-05-31 10:42] atxbyea commented on #27
This is not an issue with the regular HA automations, so not sure what nodered is doing tbh (never used, probably never will use nodered).

[2021-06-10 02:06] buzurk26 opened #29 "Integration no longer loads in 2021.6"
Hi

Component no longer loads in 2021.6

Taken form release notes
[code]

Will the version key be provided for this integration (assuming that is whats needed) ?

Thanks

[2021-06-16 16:17] piolohm commented on #29
The version is already present in the manifest.json ("version": "3.5.2").
The problem should be somwhere else.

Anybody have maybe solved the problem?

Thanks

[2021-06-17 08:44] olympia opened #30 "Turn On/Off Display on Samsung AC"
Would it be possible to add State attribute for the Display on Samsung AC and have it turned ON/Off by Home Assistant automation?

[2021-06-17 16:25] Uffepuff commented on #29
I have the same issue, the component does not load. Error msg from validate config:

Platform error climate.climate_ip - Integration 'climate_ip' not found.

Nothing in the log as I can find. Version is ok in manifest.json. HA 2021.6.5

The component have been working like a charm until update of HA.

Thanks,
Uffe

[2021-06-17 20:00] Uffepuff commented on #29
After some other edits, restarts and solving some not related braking changes, up and running again - unfortunately without understanding of what solved the problem. Strange.

[2021-06-18 09:08] piolohm commented on #29
Hi @Uffepuff,
this is a great news!
I've tryed to:
- reinstall again the component --> no works
- perform a dos2unix in files having the windows carriadge return (^M) --> no works
- add a new lines il last row in files not ending with the return --> no works
- delete the subfolder __pycache__ (automatically recreated with a restart) --> no works

Are you able to tell us where did you performed "so

[2021-06-18 11:36] piolohm commented on #29
Here an update:
i've enabled the debug (debug: True) in the configuration parameter of the device and found in the log an error connecting to the IP

[code]

So looking at the wifi led of the split it was off 😢 .
Restarting the access point (working for other connected devices) now i've the split online and the climate_ip component is working!

[code]

So it was really strange, the power of the AC

[2021-06-21 12:43] atxbyea commented on #30
Does your model support that ? Mine does not.

[2021-06-21 12:50] olympia commented on #30
Yes, not exactly the same remote (I have a dedicated settings button where the "Display" setting is located", but it works same as this one: https://www.youtube.com/watch?v=Rhq16dQJNjA

Is there any way I can contribute in this?

[2021-06-29 17:13] Uffepuff commented on #29
Sorry for late reply. Unfortunately I cannot remember the edits other than removal of some deprecated yaml configs (Tuya and some more) in all resulting in several restarts. I also commented out and edited the climate_ip config in config.yaml during my testing. The contents in my climate_ip folder is only the latest Github from this repo.
Thanks, U

[2021-07-08 12:40] wifi75 commented on #30
it would be very interesting to turn off the display ...

[2021-07-22 19:51] killtux opened #31 "MIM-H04 - Support possible?"
Any chance to use it with MIM-H04 in future?

[2021-08-01 12:42] krmrozek commented on #12
It is a device issue (not sure if all are affected though)
Please take a look at this:
https://community.home-assistant.io/t/samsung-ac/11747/143

[2021-08-12 01:59] tanus10 opened #32 "GET https://IP:8888/devices returns two separate AC devices"
**Problem**
For certain AC models Samsung is selling, "GET https://IP:8888/devices" returns two separate AC devices values.

**Background**
I have a Samsung AC set, one main AC with WIFI, and the other just connected to the main AC.
So one can install two AC's in different rooms with merit of installing only one heat exchanger outside.
Smartthings natively supports such configuration too.

![10165

[2021-08-13 14:01] gpancot commented on #25
this work, for me:

[code]

[2021-08-18 09:05] atxbyea commented on #29
appears to have been local wifi issues only, not related to the component, thanks for the updates

[2021-08-18 09:05] #29 closed

[2021-08-18 12:10] atxbyea commented on #25
Should be fixed in https://github.com/atxbyea/samsungrac/releases/tag/3.5.3

Thanks @gpancot

[2021-08-18 12:10] #25 closed

[2021-08-18 12:11] atxbyea commented on #27
This is a node-red issue, not related to the integration nor HA

[2021-08-18 12:11] #27 closed

[2021-08-18 12:13] atxbyea commented on #28
I never turn off my unit, so not sure here

[2021-08-18 12:14] atxbyea commented on #31
Does it not work trying to use one of the existing unit configs @killtux ?

[2021-08-18 12:15] atxbyea commented on #32
Hopefully someone else can come along and try to make this work, since I don't have a dual unit nor enough python skills to make it work it would have to be someone else investigating it

[2021-09-05 22:58] rgogada opened #34 "climate_ip stopped working"
I have been using this component for a while without any issues. but something broke it recently. either 2021.9 or a recent hacs update. not really sure. I could see the below in the log file. please let me know if you need anything else for investigation.

File "/config/custom_components/climate_ip/climate.py", line 261, in update
    self.rac.update_state()
  File "/config/custom_components/clim

[2021-09-15 00:45] rgogada commented on #34
went back to 3.5.1 and all is well.
BTW I am using 2878 yaml.

[2021-09-29 19:06] d00wirre commented on #34
Also have the same issue.
ssl.SSLError: [SSL: DH_KEY_TOO_SMALL] dh key too small (_ssl.c:1129) seems to be the error if i understand correctly

Config:
`climate:
  - platform: climate_ip
    config_file: "samsung_2878.yaml"
    ip_address: "10.0.0.61"
    token: ""
    cert: '' #set as '' to skip certificate verification
    mac: "78:25:AD:12:1E:8D"
    poll: True
    debug: True
    name: "Living

[2021-09-29 20:35] d00wirre commented on #34
Found the comments on commit be39a72 and the solution there, rolling back fixes this bug.

[2021-11-17 08:27] lawrencelnm commented on #28
Just want to notify that I have the same issue.

I have 2 Samsung mim units - MIM-H02 and MIM-H03.

MIM-H02 was working perfectly with samsung_2878 for 6 months, until the recent 3.5.3 patch.
The following line of code regarding cipher broke the integration with MIM-H02.
`sslContext.set_ciphers("ALL:@SECLEVEL=0")`
As a workaround, it was documented in another forum to replace that line with the fo

[2021-12-09 21:50] cicciovo opened #35 "Don't see climate ip"
After download Climate IP with hacs,  i go to integrations, add buttons, but i don't see the climate IP.. do you know why? I'm running home assistant core in a docker

[2022-01-01 20:29] Blodskjegg opened #36 "Possible to get info about power consumption?"
In the SmartAir app I can view power consumption of my heater, is this possible in the integration?

[2022-01-02 09:50] atxbyea commented on #36
@Blodskjegg will investigate

[2022-01-02 09:51] atxbyea commented on #35
Did you restart home assistant @cicciovo  and configure it in your `configuration.yaml` ?

[2022-01-06 04:54] lawrencelnm commented on #28
Any idea when the bug in this thread will be fixed ? Thanks in advance.

[2022-01-08 10:40] atxbyea commented on #28
I'll try to get a look at it when I'm back from vacation @lawrencelnm

[2022-01-10 01:12] Derfington commented on #28
Let me know if you need assistance with testing. (I could probably drop you a HA instance with access to a module) I've been trying to write device handler types for the Smart Things Platform to be able to integrate it but none of the functions interact with the unit. (Haven't been able to work on it much with covid and work)

I also think when this module was released from SebuZet it is still cal

[2022-02-01 15:43] jackdalma commented on #36
add to the end of the file samsung_2878.yaml

    used_power:
      type: number
      status_template: '{% for key, value in device_state.items() %}{% if key == "AC_ADD2_USEDPOWER" %}{{value}}{% endif %}{% endfor %}'
for home assistant add a template sensor:

[code]

[2022-02-02 14:21] Blodskjegg commented on #36
That worked, thanks a lot.
Tho, not sure how I can configure the power consumption so I can see it by day or hour.
Now it seems to show total consumption since pump was installed?
I see that I can edit "last reset", but I'm sure there is another way of doing this other than edit last reset every day?

[2022-02-02 18:30] jackdalma commented on #36
you can add utility_meter if you are not going to use the integrated energy usage of home assistant.
[https://www.home-assistant.io/integrations/utility_meter/](https://www.home-assistant.io/integrations/utility_meter/)
[code]

all possible cycle value are quarter-hourly, hourly, daily, weekly, monthly, bimonthly, quarterly and yearly
:)

[2022-02-18 03:34] lawrencelnm commented on #28
Hi there,

I've recently updated my home assistant core (2022.2.8) and the error has changed. I think it's more meaningful now as to where the error is.

`2022-02-18 13:58:36 WARNING (MainThread) [homeassistant.util.async_] Detected blocking call inside the event loop. This is causing stability issues. Please report issue to the custom component author for climate_ip doing blocking calls at custom

[2022-02-21 20:33] Poncharello commented on #28
Need help too.
I just switched my HA config from docker supervised (version 2021.something, climate IP was working well) to core venv (version 2022.2.9).
Now the integration is broken with the following log:

2022-02-21 21:23:17 INFO (MainThread) [custom_components.climate_ip.climate] climate_ip: async setup platform
2022-02-21 21:23:17 INFO (MainThread) [custom_components.climate_ip.climate] Load

[2022-02-28 11:06] atxbyea commented on #36
Added via
https://github.com/atxbyea/samsungrac/pull/37 thanks @jackdalma

[2022-02-28 11:06] #36 closed

[2022-02-28 11:07] atxbyea commented on #35
no reply from user

[2022-02-28 11:07] #35 closed

[2022-02-28 11:10] atxbyea commented on #34
fixed in https://github.com/atxbyea/samsungrac/pull/38 thanks @d00wirre @giig982 @knutmyr

[2022-02-28 11:10] #34 closed

[2022-02-28 11:10] atxbyea commented on #31
no reply from user closing

[2022-02-28 11:10] #31 closed

[2022-03-03 10:45] lawrencelnm commented on #28
Hi I see there is a recent release which merge back some of the code fixes for previous bugs. Any idea when this particular item will be fixed. I haven't been able to get my air con working with hass since it was broken.

[2022-03-28 10:42] d3m3trius opened #40 "Certificate issues (again)"
#38 doesn't work for my AC that need "ALL:@SECLEVEL=0" to works correctly.

So, looking at the commits and issues history, it looks like there are some devices/OS that need:
sslContext.set_ciphers("ALL:@SECLEVEL=0")
and other that need:
sslContext.set_ciphers("HIGH:!DH:!aNULL")

The solution may be adding a config parameter with a default value and the possibility to change it.

[2022-04-04 13:11] olympia opened #41 "Error in log: [custom_components.climate_ip.climate] Request execution failed. Stack trace:"
Hello,

I am getting the below errors in HA log hundreds of time, while actually everything works correctly.
Is there anything I can do about this?

Thank you!

2022-04-04 15:02:35 ERROR (SyncWorker_5) [custom_components.climate_ip.climate] Request execution failed. Stack trace:
2022-04-04 15:02:50 ERROR (SyncWorker_5) [custom_components.climate_ip.climate] Execution failed, unknown error
2022-04-

[2022-05-17 08:17] ATuxford opened #44 "HA Update seems to have broken things"
Hi,

Since upgrading to HA core-2022.5.4 I get the below error as climate tries to add in climate_ip. It seems to fall over because HVACMode is null. I am not a programmer so I'm not sure where to look to see where this is set.

Thanks

Andrew

`Logger: homeassistant.components.climate
Source: components/climate/__init__.py:220
Integration: Climate ([documentation](https://www.home-assistant.io/in

[2022-05-22 16:51] smartekIT commented on #44
I confirm this with core-2022.5.5 too.

[2022-05-22 17:55] smartekIT commented on #44
I think we got affected by the following changes in HA:
https://developers.home-assistant.io/blog/2022/04/02/support-constants-deprecation/
https://developers.home-assistant.io/blog/2022/05/03/constants-deprecations/

I checked them against climate.py file and clearly see that most of these need to be changed accordingly.

Hope some one will look into this soon.

Thanks heaps.

[2022-05-30 14:50] jeongheon81 commented on #32
In my case, the main AC listed in "Devices[1]" but the configuration path is "/devices/0".
And sub AC listed in "Devices[0]" but the configuration path is "/devices/1".

I have create two configuration yaml with simple find and replace.
'climate_ip_samsungrac_dual_main.yaml' : "Devices.0" => "Devices.1"
'climate_ip_samsungrac_dual_sub.yaml'   : "devices/0" => "devices/1"

And create two climate de

[2022-06-28 13:20] smartekIT commented on #44
@atxbyea can you please help us in this? we have HA update paused because of this, if we update then the whole thing breaks and we can't control AC anymore. Thanks heaps

[2022-07-02 22:44] CookingBlight commented on #44
@smartekIT I got the same errors as you and I managed to fix it on my installation.

After adding some error checking and doing some digging I found out it was caused by an SSL error when a MD5 cerficiate is used. I believe these errors are now coming to light because of new libraries used with python 3.10 with a higher degree of security set by default. I have created a fork and implemented a fix

[2022-07-02 23:32] smartekIT commented on #44
Thanks heaps @CookingBlight , I appreciate your help.

[2022-07-02 23:37] smartekIT commented on #44
@CookingBlight how about the constants deprecations in HA mentioned here:
https://developers.home-assistant.io/blog/2022/04/02/support-constants-deprecation/
https://developers.home-assistant.io/blog/2022/05/03/constants-deprecations/
and I believe they still there in our code ?!

[2022-07-03 10:35] CookingBlight commented on #44
@smartekIT I had a look at it and I have replaced the deprecated constants that I found.

If the fix I implemented earlier doesn't work please let me know.

[2022-07-03 13:46] smartekIT commented on #44
@CookingBlight , you such a legend mate. I can confirm that your fork works fine with v2022.6.7 :)

[2022-07-03 21:26] CookingBlight commented on #44
@smartekIT thats really good to hear! Glad I could be of some help :)

[2022-07-06 23:00] thomas70 opened #46 "Fails after upgrading to 2022.7.0"
Logger: homeassistant.components.climate
Source: components/climate/__init__.py:220
Integration: Klima (documentation, issues)
First occurred: 00:58:33 (2 occurrences)
Last logged: 00:58:33

Error adding entities for domain climate with platform climate_ip
Error while setting up climate_ip platform for climate
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/

[2022-07-07 06:39] yufretti opened #47 "climate_ip integration fail to start"
Hello, for a few days I have been experiencing a problem: climate_ip does not start anymore.
In the logs, I see this error message:

2022-07-07 05:50:55 ERROR (SyncWorker_11) [custom_components.climate_ip.climate] Request execution failed. Stack trace:
2022-07-07 05:50:57 ERROR (MainThread) [homeassistant.components.climate] Error adding entities for domain climate with platform climate_ip
Traceba

[2022-07-07 07:42] hoeselr commented on #47
same issue on our side

[2022-07-07 07:43] hoeselr commented on #46
same issue on our side

[2022-07-07 10:18] giig982 commented on #47
it's a duplicate of #46 and #44

[2022-07-07 10:18] giig982 commented on #46
it's a duplicate of #44

[2022-07-07 10:29] wifi75 commented on #44
sorry but what to do, I just didn't understand what I need to change ...

[2022-07-07 10:46] CookingBlight commented on #44
@wifi75 I made some changes to [connection_request.py](https://github.com/CookingBlight/samsungrac/blob/master/custom_components/climate_ip/connection_request.py) to solve this on my installation. You can either download the complete fork or just that file. Make a backup of the old file in case the changes I made doesn't work.

I also made some changes to [climate.py](https://github.com/CookingBli

[2022-07-07 10:47] giig982 commented on #44
@CookingBlight i removed @atxbyea repository and imported yours in HACS, in order to use your component in HA 2022.6.7, but  anyway I have those errors:

`Logger: homeassistant.components.climate
Source: components/climate/__init__.py:220
Integration: Termostato
First occurred: 12:14:32 (2 occurrences)
Last logged: 12:14:32

Error adding entities for domain climate with platform climate_ip
Error w

[2022-07-07 10:50] CookingBlight commented on #44
@giig982 the fix I implemented only applies to the newer models as far as I could tell. I will have a look at the older model code and see if there is an easy fix.

[2022-07-07 10:52] CookingBlight commented on #44
@giig982 Try to replace sslContext.set_ciphers("HIGH:!DH:!aNULL") on line 248 in samsung_2878.py with sslContext.set_ciphers("ALL:@SECLEVEL=0")

[2022-07-07 11:13] CookingBlight commented on #44
@giig982 could you turn on debugging in the configuration file?

[2022-07-07 11:29] giig982 commented on #44
I just made the change to connection_request.py and put custom_components.climate_ip.climate: debug in configuration.yaml.

Let me restart HA and I'll tell your the result.

[2022-07-07 11:33] #47 closed

[2022-07-07 20:34] Anzic23 commented on #44
the following helped me:

and:

[2022-07-07 20:43] CookingBlight commented on #44
Thanks for the information @Anzic23 . I think I will implement an option for setting siphers in the configuration file.

[2022-07-08 06:51] atxbyea commented on #44
Feel free to submit PRs if you have fixes that can be useful for other people @CookingBlight @Anzic23 👍

[2022-07-08 07:05] wifi75 commented on #44
hello, I didn't understand what needs to be done, I no longer have my climate in HA.
what changes should i make?

[2022-07-08 08:40] giig982 commented on #44
Hi @CookingBlight, today I reconfigured each WiFi connection on the ACs that didn't connect to HA, as they didn't appear also in the old Samsung App, and now everything is working fine again! So, to me, your fork is working correctly with HA 2022.6.7.

[2022-07-08 09:41] atxbyea commented on #46
Should be fixed in 4.1 thanks to @CookingBlight !

[2022-07-08 09:41] #44 closed

[2022-07-08 09:42] atxbyea commented on #40
Should be fixed in 4.1 thanks to @CookingBlight !

[2022-07-08 09:42] #40 closed

[2022-07-08 11:27] benshemmeld commented on #46
After updating to 4.1 I'm still getting this error for samsung_2878

[code]

Here's my config:
[code]

[2022-07-08 13:07] atxbyea commented on #46
I think I found a fix here, but I have to wait until I don't have a sleeping baby on top of me up implement a fix
https://github.com/home-assistant/core/pull/71443/files

[2022-07-08 13:08] wifi75 commented on #44
not working.....

[2022-07-08 13:28] walkerleigh commented on #46
Hey @atxbyea and @CookingBlight thanks for the swift response on this. I still have the issue too but no rush, sleeping babies etc. come first. :)

[2022-07-08 17:36] Poncharello commented on #44
Version 4.1 now is working also for me!!!
Thank you very much guys, you are my heroes! :)

[2022-07-08 21:24] atxbyea commented on #46
Yes, to me it looks like the entire component needs rewriting to move away from the deprecated stuff in HA.... I've been playing around, and gotten it to load, but I can't read any values nor write any values to my 2878 based device....
My profiency in python is not very good, but I've kept this component alive for a while after sabuzet vanished... hopefully someone who is more proficient in pytho

[2022-07-08 21:25] atxbyea commented on #41
Shoud be fixed by @CookingBlight mentioned merge

[2022-07-08 21:25] #41 closed

[2022-07-09 01:36] benshemmeld commented on #46
@atxbyea thanks for your work on this issue. Not sure if it helps, but for me it only failed to load after installing HA 2022.7.  I've now (temporarily) rolled back to 2022.6.7 and it's working again.

[2022-07-09 19:49] atxbyea commented on #46
I've always wanted a good reason to actually learn python, perhaps now is the time, but I can guarantee no timeframe.

[2022-07-10 22:50] CookingBlight commented on #46
I have been looking at the code a bit, and I don't think this issue is caused by the deprecated constants as I don't believe they are actually used. I still think it is caused by an ssl error as I got the exact same errors while debugging the problems on my installation. It seems like a failure to connect to the unit also fails to set the mode. Because no error logging is done while establishing t

[2022-07-14 20:23] dapuzz commented on #46
Try to replace sslContext.set_ciphers("HIGH:!DH:!aNULL") on line 248 in samsung_2878.py with sslContext.set_ciphers("ALL:@SECLEVEL=0")

This worked for me!

[2022-07-14 20:26] Jens-Wymeersch commented on #46
@dapuzz Thank you for your comment. Would it be possible to indicate which version you have of HA ?

[2022-07-14 20:29] thomas70 commented on #46
Thank you. Worked for me to :-) 2022.7.4

[2022-07-14 23:47] rerpires commented on #44
copied your new code and still getting the same issue:

Logger: homeassistant.components.climate
Source: components/climate/__init__.py:220
Integration: Climate (documentation, issues)
First occurred: 00:43:10 (6 occurrences)
Last logged: 00:43:41

Error adding entities for domain climate with platform climate_ip
Error while setting up climate_ip platform for climate
Traceback (most recent call la

[2022-07-15 11:28] benshemmeld commented on #46
Thanks @dapuzz! That worked for me too. I really appreciate the fix.

[2022-07-15 17:05] Jens-Wymeersch commented on #46
Thanks @dapuzz! That worked for me too. @atxbyea Would it be possible to add it to the new build for HACS ?

[2022-07-15 19:40] CookingBlight commented on #46
I have created a pull request. I have also added some error logging to help with any new issues reported about the same problem.

As mentioned in issue #40 this might break the component for some units, but I can't figure out how that could be as "ALL:@SECLEVEL=0" basically allows anything. At the moment it seems as if the libraries used in the newest and previous version of python/openssl handles

[2022-07-15 20:41] atxbyea commented on #46
Merged, thanks @CookingBlight I'll see if this fixes the issue on my end too as I have a 2878 unit.

[2022-07-16 03:42] walkerleigh commented on #46
Mine works again now. Thanks again all involved.

[2022-07-16 08:59] #46 closed

[2022-07-18 12:02] giig982 commented on #46
I just updated to HA 2022.7.5 and Climate Ip 4.2 and again I cannot connect to my 2278 units.

My configuration is:
[code]

Connection fails with the following error for the unit without cert:

[code]

And the following error for unit with cert:

[code]

So, as I said in issue #40 that ciphers configuration might break the component for some unit (mine), so tried to modify line [248](https://githu

[2022-07-19 23:44] rgogada opened #49 "Error adding entities for domain climate with platform climate_ip"
climate_ip not working after recent updates
HA: 2022.7.5
climate_ip: 4.2

Logger: homeassistant.components.climate
Source: components/climate/__init__.py:220
Integration: Climate ([documentation](https://www.home-assistant.io/integrations/climate), [issues](https://github.com/home-assistant/home-assistant/issues?q=is%3Aissue+is%3Aopen+label%3A%22integration%3A+climate%22))
First occurred: 9:08:08

[2022-07-20 05:56] rgogada commented on #49
work around: reverting back to version 4.1

[2022-07-20 20:21] olympia commented on #41
Yes, the fix is confirmed. Thank you!

[2022-07-21 15:56] rauljerico commented on #49
Same problem here.

[2022-07-25 14:34] Exadius117 opened #51 "samsungrac doesnt appear, and broken code?"
Hi, when searching through HACS i cannot find samsungrac (climate_ip shows up)

Ive had some success getting the entity on a MIM-H03 to show up, however it doesnt work stating theres something to do with a HVAC call not existing

Any Ideas?

[2022-07-30 11:38] lawrencelnm opened #52 "SSL "Fix"" Breaks MIM-H02"
The latest release 4.2 / 4.1 which targets SSL fix broke the integration with MIM-H02 (Using 'samsung_2878.yaml')

As soon as I roll back to 4.0, the air con shows up again in Home Assistant.

[2022-08-08 09:34] smartekIT commented on #52
I agree with you, but v4.1 is working. v4.2 breaks it again.

[2022-08-08 09:35] smartekIT commented on #52
so for now whoever using MIM-H02 like me and you should stay on v4.1 until they fix v4.2 to be compatible with MIM-H02

[2022-08-08 13:52] lawrencelnm commented on #52
Thanks for the clarification. I didn’t manage to go onto 4.1 as it moved me from 4.0 straight to 4.2.

[2022-08-19 20:24] Zizio82 commented on #46
I have the same problem and i edited only this:

    # sslContext.set_ciphers("ALL:@SECLEVEL=0")
    sslContext.set_ciphers('DEFAULT@SECLEVEL=0')
    sslContext.set_ciphers("HIGH:!DH:!aNULL")

on samsung_2878.py. Now is ok with HA 2022.8.6 and 4.2 version of samsungrac from HACS.

[2022-08-25 10:04] andriuskr commented on #49
Downgrade to 4.1 solves the issue

[2022-09-16 20:27] d00wirre commented on #49
Have the same issue.

[code]

[2022-09-22 19:18] nekman commented on #46
HA 2022.9.5 and v4.2 from HACS. Started to work when I changed to not use any cert (`cert: ''`) with the changes from @Zizio82.

[2022-09-24 12:49] comm9200 commented on #9
I'm having the same problem - using V4.0 with MIMH02. It's showing 79 when the actual temp it 22.5. Has there been an update for this since v4.0?

[2022-10-15 19:30] AI-ien commented on #49
For me downgrading to 4.1 or even to 4.0 didn't help.

[2022-10-15 19:58] AI-ien opened #53 "Creating socket failed!"
v4.2
HA docker version

Logger: custom_components.climate_ip.climate
Source: custom_components/climate_ip/samsung_2878.py:308
Creating socket failed!

Which is line `self.send_socket_command(message, 1)`

This is followed by next error Error adding entities for domain climate with platform climate_ip:

[code]

[2022-10-16 10:34] mmaccaroni opened #54 "Deprecated temperature utility"
Hi all got this message in my logs today

2022-10-16 04:03:03.046 WARNING (MainThread) [homeassistant.helpers.frame] Detected integration that uses temperature utility. This is deprecated since 2022.10 and will stop working in Home Assistant 2022.4, it should be updated to use unit_conversion.TemperatureConverter instead. Please report issue to the custom integration author for climate_ip using th

[2022-10-17 19:15] AI-ien commented on #53
This was driving me mad. I even re-installed entire HA and moved from docker version to OS to no avail. In the end solution was simple, I had to restart AC unit by turning it off and on. Who knew.
Issue can be closed.

[2022-10-23 06:20] dennisdegreef commented on #54
Seems to be related to this https://developers.home-assistant.io/blog/2022/09/28/deprecate-conversion-utilities/

[2022-11-01 01:48] jjprz opened #55 "Turning on or off when selecting a mode does not work"
Hi!
Turn on (when I choose a mode) or Turn off (when I choose 'off' in the mode) do not work. The mode changes correctly but does not turn on.
It works correctly when I just turn off or on (climate.turn_on, climate.turn_off).
Everything else (temperature, fan...) works perfectly.
I have the "mim-h03_heatpump" option selected.
I've tried performing 'curl' commands and found that when I call the 'mo

[2022-11-04 10:59] thomasja27 opened #56 "Release 4.2 breaks Samsung 2878"
Get this error with my 2878 samsung AC, on Release 4.2.
Rolled back to Release 4.1. Then everything works fine.

Logger: homeassistant
Source: components/climate/__init__.py:245
First occurred: 11:21:20 (21 occurrences)
Last logged: 11:31:22

Error doing job: Task exception was never retrieved
Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/helpers/entity_platform.p

[2022-11-11 00:53] deece commented on #56
I get the same on master, & can confirm that 4.1 works

[2022-11-11 01:00] deece commented on #56
#52 is related

[2022-11-14 03:19] Exadius117 opened #57 "Could not resolve host' issue on MIM-H03"
Hey fellas,

Ive got a MIM-H03 for my samsung and when i go to run the Device ID command
It always comes up as ' curl: (6) Could not resolve host: CLIMATE_IP_HOST

Ive got it set to the correct IP address.
Previously the 'heatpump' controller has shown up in entities, but always with the error
'This entity is no longer being provided by the climate_ip integration. If the entity is no longer in use

[2022-11-25 19:17] #53 closed

[2022-11-25 19:18] atxbyea commented on #54
hopefully a fix can be submitted as a PR